
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Sacramento&display=swap');
 


 
 body{
    background-color:#eee;
}


/* " :root {  }   are variable, use any time when it is call" */
:root{
    --green:green;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .1rem 1rem rgba(0,0,0.1);

    --border:2px solid rgba(0,0,0.1);
    --outline:0.1rem solid rgba(0,0,0.1);
}


*
{
font-family: 'Nunito', sans-serif;
margin: 0px;
padding: 0px;
box-sizing: border-box;
outline: none;
border: none;
text-decoration:none;
text-transform:capitalize;

transition: all  .5s linear;
} 

html{
    font-size: 72.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem    ;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}
.heading span{
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path:polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}

.btn{
    border: 0.2px solid var(--black);
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
}
.btn:hover{
    color: #fff;
    background: var(--green);
}



.header{
    border: 0px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;   
    
    /* justify-content ,two content ko left & right me kr dega */
    justify-content: space-between; 
    padding: 2rem 9%; 
    background:#fff;
    box-shadow: var(--box-shadow);
    min-height: 13vh;
}


.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i{
    color: var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--green);
}

.header .icons div{
    border: 0px solid gray;
    border-radius: 0.5rem;
    height: 4.5rem;
    width: 4.5rem;

    /* "icons ko" center me lane ke liye list-height ka use karte hai*/
    line-height: 4.5rem;
    background:#eee;
    color: var(--black);
    margin-right: 0.3rem;
    font-size: 2.1rem;
    text-align: center;
    cursor: pointer;
}
.header .icons div:hover{
    background:var(--green);
    color:rgb(247, 122, 6);
}




#menu-btn{
    display: none;
}


.header .search-form{
    border: 0px solid rgb(247, 122, 6);
    position:absolute;
    top: 110%;
    right: -110%;
    width:30rem;
    height: 3.5rem;
    background: #fff;
    border-radius: 0.8rem;
    overflow: hidden;
    display:flex;
    align-items: center;
    box-shadow:var(--box-shadow);
}
.header .search-form.active{
    right:2rem;
    transition: 0.4s linear;
}


.header .search-form input{
    height: 100%;
    width: 100%;
    background:none;
    text-transform: none;
    font-size: 1.5rem;
    color: var(--black);
    padding: 0 2rem;
}
.header .search-form label{
    font-size: 1.8rem;
    padding-right: 2.2rem;
    /* align-items: center  */
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover{
    color:rgb(247, 122, 6);
}



.header .shopping-cart{
    border: 0px solid black;
    position: absolute;
    top: 114%;
    right: -110%;
    padding:1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}
.header .shopping-cart.active{
    right: 2rem;
    transition: 0.4s linear;
}


.header .shopping-cart .box{
    border: 0px solid black;
    display: flex;
    align-items:center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}
.header .shopping-cart .box img{
    height: 10rem;
}
.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover{
    color: var(--green);
}
.header .shopping-cart .box .content h3{
    color:var(--black);
    font-size: 1.7rem;
    padding-bottom: 0.8rem;
}
.header .shopping-cart .box .content span{
    color:var(--black);
    font-size: 1.5rem;
}
.header .shopping-cart .box .content .quantity{
    padding:1.3rem;
}


.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn{
    display:block;
    text-align: center;
    margin: 1rem 0;
}


.header .login-form{
    border: 0px solid;
    border-radius: 0.5rem;
    position: absolute;
    top: 114%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.header .login-form.active{
    right: 2rem;
    transition: 0.4s linear;
}
.header .login-form h3{
    font-size:2.5rem;
    text-transform: uppercase;
    color: var(--black);
}
.header .login-form .box{
    border: 0px solid;
    margin: 0.7rem 0;
    border-radius: 0.5rem;
    width: 100%;
    background: #eee;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;    
}
.header .login-form p{
    font-size: 1.3rem;
    padding: 0.5rem 0;
    color: var(--light-color);
}
.header .login-form p a{
    color: var(--green);
    text-decoration: underline;
    cursor: pointer;
}
.header .login-form p a:hover{
    color: red;
}



/*   Start style 'banner section'   */

section{
    padding: 2rem 9%; 
}

.home{
    border: 0px solid;
    display:block;
    justify-content: center;
    background:url(../img/banner-img.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20rem;
    padding-bottom: 11rem;
    padding-left: 30rem;
}
.home .content{
    border: 0px solid;
    text-align: center;
    width: 80rem;
}

.home .content h3{
    color: var(--black);
    font-size: 3.5rem;
}
.home .content h3 span{
    color: var(--green);
}
.home .content p{
    font-size: 2rem;
    color: var(--black);
   padding: 0.7rem 0;
   line-height: 1.8;
}

/*  End style 'banner section'   */



/* css for features */

.features .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.features .box-container .box{
    border: 0px solid red;
    border-radius: 0.8rem;
    padding :3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.features .box-container .box:hover{
    background: rgb(184, 179, 179);
    box-shadow: 1px 1px 10px 4px var(--green);
}
.features .box-container .box img{
    margin: .3rem 0;
    padding: 2rem;
    height: 15rem;
}
.features .box-container .box h3{
    font-size: 3rem;
    line-height: 1.8;
    color: var(--black);
}
.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}
/* end css for features */

/* css for products */

.products .product-slider{
    border: 0px solid;
    padding: 1rem;
}

.products .product-slider:first-child
{
    margin-bottom:2rem ;
}

.products .product-slider .box{
    border: 0px solid red;
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}
.products .product-slider .box:hover{
    background: rgb(248, 243, 243);
    box-shadow: 1px 1px 10px 4px var(--green);
}
.products .product-slider .box img{
    height: 20rem;
}
.products .product-slider .box h1{
    font-size: 2.7rem;
    color: var(--black);
   
}
.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: 0.5rem 0;
}
.products .product-slider .box .stars i{
      font-size: 1.7rem;
      color: orange;
      padding: 0.5rem 0;
}

/* end css for products */


/*  css for categories */

.Categories .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}
.Categories .box-container .box{
    border: 0px solid;
    border-radius: 0.6rem;
    padding: 3rem 0;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    text-align: center;
}
.Categories .box-container .box:hover{
    background: rgb(184, 179, 179);
    box-shadow: 1px 1px 10px 4px var(--green);
}
.Categories .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
}
.Categories .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
}

/*  css for categories */

/* css for review section */

.review .review-slider{
    border: 0px solid;
    padding: 1rem;
}
.review .review-slider .box{
    border: 0px solid red;
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;

}
.review .review-slider .box:hover{
    background: rgb(184, 179, 179);
    box-shadow: 1px 1px 10px 4px var(--green);
}
.review .review-slider .box img{
    height: 15rem;
    width: 13rem;
    border-radius: 0.6rem;
}
.review .review-slider .box p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
} 
.review .review-slider .box h3{
    padding: 1rem 0;
    font-size: 3.5rem;
    color: var(--black);
    line-height: 1.8;
} 
.review .review-slider .box i{
    padding: 1rem 0;
    font-size: 1.7rem;
    color: orange;
} 

/* css for review section */

/* css for blogs section */

.blogs .box-containers{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}
.blogs .box-containers .box{
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
}
.blogs .box-containers .box img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.blogs .box-containers .box .content{
    border: 1px solid;
    padding: 2rem;
}
.blogs .box-containers .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin: 1rem;
    border-bottom: var(--border);
}
.blogs .box-containers .box .content .icons a{
    color: var(--light-color);
    font-size: 1.5rem;
}
.blogs .box-containers .box .content .icons a:hover{
    color:black;
}
.blogs .box-containers .box .content .icons a i{
    color: var(--green);
    padding-right: 1rem;
}
.blogs .box-containers .box .content h3{
    line-height: 1.8;
    color: var(--black);
    font-size: 2rem;
}
.blogs .box-containers .box .content p{
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.4rem;
}
/* end css for blogs section */


/* css for footer */


.footer{
    background:#fff;
}
.footer .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem; 
}
.footer .box-container .box h3 i{
    color: var(--green);
}
.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box .links i{
   color: var(--green);
   padding-right: 5rem;
}
.footer .box-container .box .links i:hover{
    padding-right: 2rem;
}   

.footer .box-container .box p{
   line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a{
    border: 0px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left:0.2rem ;
    background: #eee ;
    text-align: center;
}
.footer .box-container .box .share a:hover{
    background: var(--green);
}

.footer .box-container .box .email{
    width: 100%;
    margin: 0.7rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #eee;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
}
.footer .box-container .box .pay-img{
    margin-top: 2rem;
    height: 3rem;
}

.footer .credit{
    font-size: 1.5rem;
}
.footer .credit strong{
    color:rgb(247, 122, 6) ;
}


/* end css for footer */








/* Media Queries */
@media (max-width: 991px){
     html{
        font-size: 50%;
     }
     .header{
        padding: 2rem;
     }
     section{
        padding: 2rem;
     }
}

@media (max-width: 768px){

    #menu-btn{
        display:inline-block;
    } 

    .header .search-form{
        width: 85%;
    }

    .header .navbar{
        border: 1px solid;
        border-radius: 0.5rem;
        position: absolute;
        top: 110%;
        right: -110%;
        width: 25rem;
        box-shadow: var(--box-shadow);
        background: #fff;
    }
    .header .navbar.active{
        right: 2rem;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
   
}









